$font-size-note-text: 18px;
$font-size-note-title: 18px;
$font-size-date-time: 11px;

$shadow-color: rgba(0, 0, 0, 0.5);
$footer-color: rgba(100,100,100,0.2);

$lines-content-note: 30;

$border-radius-card: 18px;
